.footer {
  text-align: center;
  font-size: 14px;
  color: #666666;
  position: absolute;
  width: 100%;
  background-color: #f0f0f085;
  padding-bottom: 2px;
  margin-top: auto;
}

.trivia-box p {
  font-size: 0.8em;
}
