html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(158, 106, 206);
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-wrap {
  text-align: center;
  padding-top: 10px;
  display: flexbox;
  min-height: 100vh;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  flex: 1;
}

.welcome-logo {
  font-size: 1.3em;
  margin: 0 auto;
  padding: 20px;
  width: 380px;
  height: 380px;
  border-radius: 300px;
  background-image: url("/public/logo1024.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.welcome-message {
  font-size: 1em;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  text-justify: justify;
}

.paw-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #7e57c2;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paw-button:hover {
  background-color: #5e35b1;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/*



.Home {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}
 */

.user {
  background-color: lightblue;
  color: white;
  padding: 1rem;
  height: 4rem;
  cursor: pointer;
}

.users-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .users-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .users-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* formulario */

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 400px;
  margin: 50px auto;
}

.formStyle input,
.formStyle select,
.formStyle button {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 25px;
  border: none;
  background: #f0f0f0;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.formStyle input:focus,
.formStyle button:hover {
  background: #e0e0e0;
}

.formStyle button {
  background: linear-gradient(45deg, #6d5bba, #8d58bf);
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background 0.3s ease;
}

.formStyle button:active {
  transform: scale(0.98);
}

/* board hide tasks */

/* Estilos para os detalhes da tarefa que são ocultados inicialmente */
.task-details__hidden-info {
  display: none;
}

/* Estilos para mostrar os detalhes ocultos no hover */
.task-details:hover .task-details__hidden-info {
  display: block;
}
